# Python bytecode and caches
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# VSCode settings
.vscode/

# Virtual environments
.venv/
venv/
env/

# Python package build metadata
**/*.egg-info/

# macOS
.DS_Store
